.attribution { font-size: 11px; text-align: center;  margin-top:2rem;}
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background-color: rgb(215, 210, 210);
}


* {
  font-family: 'Hanken Grotesk', sans-serif;
  margin:0;
  padding:0;
}

p {
  font-size: 18px;
}

.container {
  height: auto;
  padding: 10rem 22rem;
  max-width:1400px;
}

.card-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.card__left,
.card__right {
  flex:1;
}

.card {
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .card {
    flex-direction: column;
  }
  
  #card-right {
    border-radius: 0;
    margin-top:-1.5rem;
    padding: 3rem 6rem;
  }

  .container {
    padding:0;
  }
}

.card__left {
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 2rem 5rem;
  border-radius: 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
} 

.card__title {
  color: hsla(0, 0%, 100%, 0.705);
  text-align: center;
  margin-bottom: 2rem;
}

.card__resultscore p:first-child {
  color: hsl(0, 0%, 100%);
  font-size: 5rem;
  font-weight: 800;
}

.card__resultscore {
  color: hsla(0, 0%, 100%, 0.593);
  background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  padding: 2.5rem 3.5rem;
}

.card__result p:first-child {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.card__result {
  color: hsla(0, 0%, 100%, 0.705);
}


.card__right {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 5rem;
  border-radius: 2rem;
  border-bottom-left-radius:0;
  margin-left:-1.5rem;
  z-index:1
}

.card__titletwo {
  text-align: left;
}

.card__right h2 {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
}

.reaction {
  display:flex;
  justify-content: space-between;
}

.reaction p {
  flex:1;
  padding: 0.5rem;
}

.order-3 {
  order:3;
}

.score p {
  color: #00000065;
}

.score span {
  color:hsl(224, 30%, 27%);
  font-weight: 700;
}

.continue-btn {
  background-color: hsl(224, 30%, 27%);
  color:#fff;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  font-weight: 600;
  width:100%;
  margin-top: 2.5rem;
  transition: all .15s;
  cursor: pointer;
  border:none;
}

.continue-btn:hover,
.continue-btn:active,
.continue-btn:visited {
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.continue-btn:active {
  transform: scale(1.05);
}


